*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 375px;
  max-width: 1200px;
}

.container {
  background-color: #73c1c3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #4bc6b9;
}

.key {
  font-size: 4rem;
  text-align: center;
}

.keyCode {
  font-size: 4rem;
  text-align: center;
}

.key::before {
  content: "KeyName : ";
  text-align: right;
}

.keyCode::before {
  content: "KeyCode : ";
}
